// @mixin paraStyles($color, $size) {
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: $size;
//     color: $color;
//     text-align: justify;
// }

button.basic-btn {
    border: 1px solid red;
    font-size: large;
    color: white;
}

button.fancy-btn {
    @extend .basic-btn;
    color: black;
    border-radius: 20px;
}